<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </p>
  <p>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </p>
  <%= label_tag 'role' %><br/>
    <ul>
      <% for role in @roles %>
      <li>
      <%= check_box_tag "user[roles][]", role.id, @user.roles.include?(role)%> <%= role.name %>
      </li>
    <% end %>
    </ul>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
