<h1>Editing user</h1>

<% form_for :user do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </p>
  <p>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </p>
  <p>
    <%= label_tag 'role' %><br/>
	<select id="user_roles" name="user[roles]" multiple>
	  <% @roles.each do |r| %>
	  <option value="<%= r.id %>"><%= r.name %>
	  <% end %>
	</select>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>