<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Role ID</th>
  </tr>

<% User.all.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%=h user.crypted_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.roles[0].name if not user.roles.nil? %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
