<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<!--<p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>-->

<p>
  <b>Role:</b>
  <%=h Role.find_by_id(@user.role_id) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
